.css-y1c9jb {
    display: inline-block;
    line-height: 1;
    background: linear-gradient(90deg,#0caa41 76%,#dee0e3 76%);
    -webkit-letter-spacing: 3px;
    -moz-letter-spacing: 3px;
    -ms-letter-spacing: 3px;
    letter-spacing: 3px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

